:root {
     --blue: #150E28;
     --light-purple: #903AFF;
     --light-pink: #D434FE;
     --lemon: #80FF00;
     /* font: unicaone */
}

._btn_style {
     background-image: linear-gradient(to right, #FF26B9, #D434FE, #903AFF);
}

._header_div,
._hero_div {
     width: 272px;
}

._hero_text {
     font-size: 15px;
}

/* ._smart_glass {
     background-image: url("../assets/man-wearing-smart-glasses-touching-virtual-screen 1.svg");
     background-size: contain;
     background-repeat: no-repeat;
} */

._hackathon {
     font-size: 28.7px;
}



@media screen and (max-width: 300px){
     ._header_div,
     ._hero_div {
     width: 240px;
     }

     ._hero_text {
     font-size: 13px;
}

     ._hackathon {
     font-size: 22.8px;
}
}

@media screen and (min-width: 768px) {
     ._header_div {
          width: 290px;
     }

     ._hero_div {
          width: 100%;
          max-width: 720px;
     }
}