@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: "ClashDisplay";
  src: local("ClashDisplay"),
  url("./fonts/Fonts/OTF/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Unica One";
  src: local("Unica One"),
  url("./fonts/UnicaOne-Regular.ttf");
}

.font-face-cd {
  font-family: "ClashDisplay";
}

.font-face-in {
  font-family: "ClashDisplay";
}

.font-face-uo {
  font-family: "Unica One";
}